@*Esto equivale a using*@
@model List<Practica_ClaseSemana4.Models.ClsUsuario>
@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<center><h2>Bienvenidos</h2></center>

@*Tipo de petición*@
@*Acción/ Controlador*@
@using (Html.BeginForm("Usuario", "Usuario", FormMethod.Post))
{
    //Nombre de los name igual al de los parametros en el controlador
    <center>
        <div class="form-group" border=" 1">
            <label>Usuario</label>
            <input type="text" required placeholder="Escribe tu usuario" class="form-control" name="Usuario">
            <small name="Usuario" class="form-text text-muted">We'll never share your user with anyone else.</small>
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" required placeholder="Escribe tu contraseña" class="form-control" name="Pass">
        </div>

        <button type="submit" class="btn btn-primary">Ingresar</button>
    </center>


}
@*<label>Ingresa tu usuario :</label>
    <input type="text" name="Usuario" />
    <br />

    <label>Ingresa tu contraseña :</label>
    <input type="text" name="Pass" />
    <br />

    <input type="submit" />*@




