
@{
    ViewBag.Title = "Acceso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recibo</h2>

@using (Html.BeginForm("Recibo", "Empleado"))
{
    //Nombre de los name igual al de los parametros en el controlador



    <div class="col-6">
        <label>Valor por hora:</label>
        <input type="text" class="form-control" name="valorPorHora" placeholder="Valor por hora $">
    </div>
    <div class="col-6">
        <label>Nombre empleado:</label>
        <input type="text" class="form-control" name="NombreEmpleado" placeholder="Ingrese su nombre completo">
    </div>
    <div class="col-6">
        <label>Años laborados :</label>
        <input type="text" class="form-control" name="tiempoLabor" placeholder="Años de servicio en la empresa">
    </div>

    <div class="col-6">
        <label>Horas trabajadas por mes :</label>
        <input type="text" class="form-control" name="horasDeTrabajo" placeholder="Horas de trabajo por mes">
    </div>


        <button type="submit" class="btn btn-primary">Continuar</button>
    

}


@*<label>Ingresa el valor por hora :</label>
    <input type="text" name="valorPorHora" />
    <br />

    <label>Nombre empleado :</label>
    <input type="text" name="NombreEmpleado" />
    <br />

    <label>Años laborados :</label>
    <input type="text" name="tiempoLabor" />
    <br />

    <label>Horas trabajadas por mes :</label>
    <input type="text" name="horasDeTrabajo" />
    <br />

    <input type="submit" />*@
